<footer>
    <div class="stylist-logo">
        <a href="http://www.stylelist.com/" target="_blank" rel="nofollow"></a>
    </div>
    <div class="footer-copyright">
        <div><%= image_tag 'logo32x32.png'%></div>
        <div class="text-muted">Copyright &copy; 2010-2014</div>
        <div class="text-muted">Fancy Things, LLC.</div>
    </div>
    <div class="footer-links">
        <ul>
            <li><a class="text-muted" href="mailto:kristin@fancythingsblog.com">Contact</a></li>
            <li><a class="text-muted" href="https://www.facebook.com/pages/fancy-things-the-blog/213692045319671?sk=wall" target="_blank">Facebook</a></li>
            <li><a class="text-muted" href="https://twitter.com/#!/fancythingsblog" target="_blank">Twitter</a></li>
            <li><a class="text-muted" href="http://pinterest.com/fancythingsk/" target="_blank">Pinterest</a></li>
            <li><a class="text-muted" href="http://instagram.com/fancythingsblog" target="_blank">Instagram</a></li>
        </ul>
    </div>
</footer>