
<h2 style="text-align:center;margin-bottom:30px">Fancythings is...</h2>

<section class="About" style="background-color: #feefee;">
    <div class="Highlight"></div>
    <div class="Keyword">
        <span>Fancy</span>
    </div>
</section>

<section class="About" style="background-color: #efeefe;">
    <div class="Keyword">
        <span>Trendy</span>
    </div>
    <div class="Highlight"></div>
</section>

<section class="About" style="background-color: #eefeef;">
    <div class="Highlight"></div>
    <div class="Keyword">
        <span>Chiq</span>
    </div>
</section>