
<section class="Portals" />
<section class="Slideshow" />

<script type="text/javascript">
    $("section.Portals").load("views/home/Portals.html");
    $("section.Slideshow").load("views/home/SlideShow.html");

    $(function() {
        $(window).bind('resize orientationchange', function () {
            Slideshow.Resize();
            Footer.Resize();
        });

        window.addEventListener('load', function () {
            //cleared
        }, false);

        $('.Slideshow').imagesLoaded(function () {
            Slideshow.Start();
            Footer.Resize();
        });
    }());
</script>
