
<section class="Portals" />
<section class="Slideshow" />

<script type="text/javascript">
    $("section.Portals").load("views/home/Portals.html");
    $("section.Slideshow").load("views/home/SlideShow.html");

    $(function() {
        $(window).bind('resize orientationchange', function () {
            alert('resize');
            Slideshow.Resize();
            Footer.Resize();
        });

        window.addEventListener('load', function () {
            alert('load');
            Slideshow.Start();
            Footer.Resize();
        }, false);

        //$('.Slideshow').imagesLoaded(function () {
        //    alert('images');
        //    Slideshow.Start();
        //    Footer.Resize();
        //});
    }());
</script>
