<section class="Portal topLeft">
    <a href="http://www.fancythingsblog.com" target="_blank">
        <img src="img/blog_portal2.jpg" class="img-responsive" alt="Fancy Things Blog" />
    </a>
</section>
<section class="Portal topRight">
    <a onclick="ContentLoader.Redirect('Services')">
        <img src='img/services_portal2.jpg' class="img-responsive" alt="Services by Fancythings" />
    </a>
</section>
<section class="Portal bottomLeft">
    <a href="http://www.etsy.com/shop/shopfancythings" class="img-responsive" target="_blank">
        <img src='img/shop_portal2.png' class="img-responsive" alt="My Shop" />
    </a>
</section>
<section class="Portal bottomRight">
    <a href="http://www.fancythingsblog.com/p/about.html" target="_blank">
        <img src='img/about_portal2.png' class="img-responsive" alt="Media" />
    </a>
</section>