
    <div class="SlideContainer">
        <div id="slide1" class="live" style="display:block">
            <img src="http://placehold.it/1200x600&text=image+1" alt="Arm Party" />
        </div>
        <div id="slide2">
            <img src="http://placehold.it/1200x600&text=image+2" alt="Arm Party" />
        </div>
        <div id="slide3">
            <img src="http://placehold.it/1200x600&text=image+3" alt="Tulips" />
        </div>
        <div class="filler"></div>
        <section class="SlideToolbar">
            <ul class="SlideBlobs">
                <li data-slidefor="slide1" onclick="Slideshow.InitSlide($(this).attr('data-slideFor'))"
                    style="background-color: #5ABECC"></li>
                <li data-slidefor="slide2" onclick="Slideshow.InitSlide($(this).attr('data-slideFor'))">
                </li>
                <li data-slidefor="slide3" onclick="Slideshow.InitSlide($(this).attr('data-slideFor'))">
                </li>
            </ul>
        </section>
        <div class="SlideToolbarShadow">
        </div>
    </div>