<script src="js/Slideshow.js" type="text/javascript"></script>

<div class="SlideContainer">
    <div class="Slideleft fa fa-angle-left" onclick="Slideshow.InitSlide('left')"></div>
    <div class="Slides">
        <div id="slide1" class="live" style="display: block">
            <img src="img/welcome_slide.jpeg" alt="Arm Party" />
        </div>
        <div id="slide2">
            <img src="img/pencil_slide.jpeg" alt="Arm Party" />
        </div>
        <div id="slide3">
            <img src="img/flower_slide.jpeg" alt="Tulips" />
        </div>
    </div>
    <div class="filler"></div>
    <div class="Slideright fa fa-angle-right" onclick="Slideshow.InitSlide('right')"></div>
</div>

<script type="text/javascript">
    $('.SlideContainer .live').imagesLoaded(function () {
        Slideshow.Start();
    });
</script>
