


<div id="aboutContainer">
    <div class="aboutHeader smooth">Get to know Kristin:</div>
    <div class="leftColumn">
        <div class="aboutPoint">Fresh flowers make her smile</div>
        <div class="aboutImg"><img src="http://placehold.it/350x200" alt="" /></div>
        <div class="aboutPoint">Can't start the day until she has her morning espresso</div>
        <div class="aboutImg"><img src="http://placehold.it/350x200" alt="" /></div>
        <div class="aboutPoint">Her wish list is always a mile long</div>
        <div class="aboutImg"><img src="http://placehold.it/350x200" alt="" /></div>
    </div>
    <div class="rightColumn">
        <div class="aboutPoint">Shes kind of an arm party enthusiast</div>
        <div class="aboutImg"><img src="http://placehold.it/350x200" alt="" /></div>
        <div class="aboutPoint">Adores her russian blue cat Rocky</div>
        <div class="aboutImg"><img src="http://placehold.it/350x200" alt="" /></div>
        <div class="aboutPoint">Delights in handwritten notes + to-do lists</div>
        <div class="aboutImg"><img src="http://placehold.it/350x200" alt="" /></div>
    </div>
</div>