


<div id="aboutContainer">
    <div class="aboutHeader smooth">Get to know Kristin:</div>
    <div class="leftColumn">
        <div class="aboutPoint"><span>Fresh flowers make her smile</span></div>
        <div class="aboutImg"><img src="http://placehold.it/350x200" alt="" /></div>
        <div class="aboutPoint"><span>Can't start the day until she has her morning espresso</span></div>
        <div class="aboutImg"><img src="http://placehold.it/350x200" alt="" /></div>
        <div class="aboutPoint"><span>Her wish list is always a mile long</span></div>
        <div class="aboutImg"><img src="http://placehold.it/350x200" alt="" /></div>
    </div>
    <div class="rightColumn">
        <div class="aboutPoint"><span>Shes kind of an arm party enthusiast</span></div>
        <div class="aboutImg"><img src="http://placehold.it/350x200" alt="" /></div>
        <div class="aboutPoint"><span>Adores her russian blue cat Rocky</span></div>
        <div class="aboutImg"><img src="http://placehold.it/350x200" alt="" /></div>
        <div class="aboutPoint"><span>Delights in handwritten notes + to-do lists</span></div>
        <div class="aboutImg"><img src="http://placehold.it/350x200" alt="" /></div>
    </div>
</div>