//
// Variables
// --------------------------------------------------


$slideshow-image-height: 375px;
$blue-color: #5ABECC;
$pink-color: pink;
$link-color: blue;
$text-color: black;

$caps-header-font: 'Lato';